{% extends 'layout.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}
{% block meta_description %}{{ page.metaDescription }}{% endblock %}

{% block body %}
    <h1>{{ page.title }}</h1>
    <p>{{ page.content|raw }}</p>
{% endblock %}
