{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Une erreur est survenue</h1>
    <p>Une erreur est survenue. Vous pouvez retenter votre action dans un court instant. Si le probléme persiste, n'hésitez pas à nous contacter. </p>
{% endblock %}

