{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>La page n'a pas été trouvée</h1>
        <p>L'url que vous avez demandée n'existe pas ou n'existe plus.</p>
    </div>
{% endblock %}
