{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Une erreur est survenue</h1>
        <p>Une erreur est survenue. Vous pouvez retenter votre action dans un court instant. Si le probléme persiste, n'hésitez pas à nous contacter. </p>
    </div>
{% endblock %}
