{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Vous n'avez pas le droit d'accéder à la page</h1>
        <p>La page que vous avez demandée nécessite des autorisations particulières.</p>
    </div>
{% endblock %}
