{# 'add to basket' modal #}
<div class="basket-modal modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="modal-title">Ajouté au panier</p>
                <p class="product-name"></p>

                <div class="product-price-info">
                    <span class="product-quantity"></span>x
                    <span class="product-price"></span>&nbsp;TTC
                </div>

                <p class="message text-warning"></p>

                <div class="action-illustration">
                    <img class="product-image" src="" alt="">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    <span class="fa fa-shopping-cart text-blue"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continuer mes achats</button>
                <a href="{{ path('basket') }}" class="btn btn-primary">Voir mon panier</a>
            </div>
        </div>
    </div>
</div>

<script>
    var $modalRoot = $(".basket-modal");
    var $productName = $modalRoot.find(".product-name");
    var $productPrice = $modalRoot.find(".product-price");
    var $productQuantity = $modalRoot.find(".product-quantity");
    var $productImage = $modalRoot.find(".product-image");
    var $message = $modalRoot.find(".message");

    // reload page to update basket info and clear modal data
    $modalRoot.on('hidden.bs.modal', function () {
        location.reload();
    });

    // Hydrate modal with added product info
    function hydrateModal(productInfo, quantity, message) {
        $productName.html(productInfo.name);
        $productQuantity.html(quantity);
        $productPrice.html(productInfo.price);
        if (!!productInfo.image) {
            $productImage.attr('src', productInfo.image);
        } else {
            $productImage.attr('src', '{{ asset('images/no-image.jpg') }}');
        }
        $message.html(message);

        // Show modal
        $modalRoot.modal();
    }
</script>
