{% extends '@App/layout-search.html.twig' %}

{% block body %}
    <section class="container">
        <h1>{{ 'vendor_registration'|trans }}</h1>

        {# shop info #}
        <h2>{{ 'your_shop'|trans }}</h2>

        {# shop admin info #}
        <h2>{{ 'your_shop_admin'|trans }}</h2>
    </section>
{% endblock %}
