*
!app
!bin/console
!bin/init.sh
!src
!web/app.php
!web/robots.txt
!web/.htaccess
!.babelrc
!composer.*
!gulpfile.js
!package*.json
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/translations/.gitkeep
!var/sitemap/.gitkeep
!var/sessions/.gitkeep
