{% extends '@App/layout.html.twig' %}

{% block body %}
    {% set user = app.user.wizaplaceUser %}

    <div class="container">

        {# steps breadcrumb #}
        {% include '@App/checkout/steps.html.twig' with {step: 3} %}

        {#
         # user address forms:
         # 'requested_url' will be used to redirect the user if the form is validated after submission
         # 'submit_text' corresponds to the form submit button's text
         #}
        {% include '@App/common/user_addresses/_addresses.html.twig' with {'requested_url': path('checkout_payment'), 'submit_text': 'choose_payment' } %}

        {# basket summary #}
        {% include '@App/checkout/_basket-summary.html.twig' %}
    </div>
{% endblock %}
