{% extends '@App/layout.html.twig' %}

{% block body %}
    {% set user = app.user.wizaplaceUser %}

    <div class="container">

        {# steps breadcrumb #}
        {% include '@App/checkout/steps.html.twig' with {step: 3} %}

        {# user addresses forms #}
        {% include '@App/common/user_addresses/_addresses.html.twig' with {'requested_url': path('checkout_payment') } %}

        {# basket summary #}
        {% include '@App/checkout/_basket-summary.html.twig' %}
    </div>
{% endblock %}
