{% extends '@App/layout.html.twig' %}

{% block body %}
    <div>
        {# if you need to style it, the button provided will always have the class `checkout-api-proceed-payment-button` #}
        {{ htmlContent|raw }}
    </div>
{% endblock %}
