{% extends 'layout-profile.html.twig' %}

{% block profile_content %}
    <form>
        <div class="form-group">
            <label for="">Civilité</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
                    Monsieur
                </label>
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
                    Madame
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" class="form-control" id="prenom">
        </div>
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">Recevoir les notifications par email
            </label>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" value="{{ profile.email }}">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">Modifier le mot de passe
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        <div class="big-spacer"></div>
    </form>
{% endblock %}
