{% extends 'layout-profile.html.twig' %}

{% block profile_content %}
    <p>Cette section vous permettra d'envoyer un message au vendeur, qui en fonction de ses garanties et du besoin que vous rencontrez (panne, casse, question sur le fonctionnement), vous indiquera la procédure à suivre. Il répondra alors à vos questions et en cas de produit défectueux vous demandera de l'expédier dans ses locaux ou ceux du fabricant, pour une réparation ou un échange. </p>

    <div class="spacer"></div>
    <label>Sélection de la commande concernée&nbsp;:</label>

    <div class="spacer"></div>
    {{ include('profile/order-table.html.twig') }}
{% endblock %}

