<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Starter Kit{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('style/app.css') }}">

    <script src="{{ asset('scripts/jquery.min.js') }}"></script>
</head>
<body>

<header class="main-header">
    {% block header %}
        {% include('common/header/_top.html.twig') %}
        {% include('common/header/_main.html.twig') %}
    {% endblock %}
</header>

{% block body %}{% endblock %}

{% block footer %}{% include('common/footer.html.twig') %}{% endblock %}

{# overlay, modal, notification, etc. #}
{% include('common/components.html.twig') %}

<script src="{{ asset('scripts/app.js') }}"></script>

{% block scripts %}{% endblock %}

</body>
</html>
