{% extends 'layout.html.twig' %}

{% block body %}
    <div class="big-spacer"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% block profile_menu %}
                    {# user account #}
                    <div class="box">
                        <div class="box-header">Mon compte</div>
                        <div class="box-content">
                            <ul>
                                <li><a href="{{ path("profile") }}">Profil</a></li>
                                <li><a href="{{ path("profile_addresses") }}">Adresses</a></li>
                            </ul>
                        </div>
                    </div>

                    {# user purchases #}
                    <div class="box">
                        <div class="box-header">Mes achats</div>
                        <div class="box-content">
                            <ul>
                                <li><a href="{{ path("profile_orders") }}">Commandes</a></li>
                                <li><a href="{{ path("profile_returns") }}">Retours</a></li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}
            </div>

            <div class="col-md-8">
                {% block profile_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

