{% extends '@App/layout.html.twig' %}

{% block body %}

    {# banners #}
    {% include('@App/home/_banners.html.twig') %}

    {# latest products carousel #}
    {% include '@App/common/product/showcase.html.twig' with {'headerTitle': 'Nouveautés', "products": latestProducts } %}

    <div class="reinsurance container">
        <div class="row text-center">
            <div class="col-xs-4">
                <div class="icon icon-box text-blue"></div>
                <div class="light-title">Livraison express<br />24/48h</div>
                <p></p>
            </div>

            <div class="col-xs-4">
                <div class="icon icon-shield text-blue"></div>
                <div class="light-title">Paiement 100%<br />sécurisé</div>
                <p></p>
            </div>

            <div class="col-xs-4">
                <div class="icon icon-phone-o text-blue"></div>
                <div class="light-title">Assistance & Conseils<br />0800 97 55 55 (gratuit)</div>
                <p></p>
            </div>
        </div>
    </div>

    {# basket popup #}
    {% include '@App/common/basket-popup.html.twig' %}

    <script>
        $(".add-to-basket").on("click", function() {

            var declinationId = $(this).data('id');
            var quantity = 1;
            var productInfo = {
                name: $(this).data('name'),
                price: $(this).data('price'),
                image: $(this).data('image'),
            };

            $.ajax({
                type: "POST",
                url: "{{ path('basket_add_product') }}",
                data: { declinationId: declinationId, quantity: quantity },
                success: function(response) {
                    hydrateModal(productInfo, quantity, response.message);
                }
            });
        });
    </script>

{% endblock %}
