imports:
    - { resource: config.yml }

parameters:
    api.base_url: 'https://sandbox.wizaplace.com/api/v1/'
    googlemaps.api_key: 'AIzaSyC6pzFn22J8wZ9OMuYBButVwUKvmo5Jx1w' #@TODO: change me
    wizaplace.system_user_password: '%env(WIZAPLACE_SYSTEM_USER_PASSWORD)%'
    api.connect_timeout: '%env(API_CONNECT_TIMEOUT)%'
    api.read_timeout: '%env(API_READ_TIMEOUT)%'
    api.timeout: '%env(API_TIMEOUT)%'
    # default env values
    env(API_CONNECT_TIMEOUT): 30
    env(API_READ_TIMEOUT): 30
    env(API_TIMEOUT): 30
    env(SENTRY_DSN): ~
    env(WIZAPLACE_SYSTEM_USER_PASSWORD): ~
    env(PLATFORM_TREE_ID): ~

monolog:
    handlers:
        logstash:
            type:         fingers_crossed
            handler:      logstash_file
            action_level: 'warning'
            excluded_404s:
                - ^/
        logstash_file:
            type:         stream
            path:         "%kernel.logs_dir%/prod.json"
            formatter:    monolog.formatter.logstash
        sentry_fingers_crossed:
            type:         fingers_crossed
            handler:      sentry_buffer
            action_level: 'warning'
            excluded_404s:
                - ^/
        sentry_buffer:
            type: buffer
            handler: sentry
        sentry:
            type:         raven
            level:        'warning'
            client_id:    \Raven_Client
        sentry_breadcrumbs:
            type:         service
            id:           \Raven_Breadcrumbs_MonologHandler
        console:
            type:  console

services:
    \Raven_Client:
        class: \Raven_Client
        arguments:
            - "%env(SENTRY_DSN)%"
            -
                auto_log_stacks: true
                install_default_breadcrumb_handlers: false
                install_shutdown_handler: false
                release: "%env(PLATFORM_TREE_ID)%"
    \Raven_Breadcrumbs_MonologHandler:
        class: \Raven_Breadcrumbs_MonologHandler
        arguments:
            - "@\\Raven_Client"
