imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr
    slug.regexp: !php/const:Wizaplace\SDK\Seo\SeoService::SLUG_REGEXP
    recaptcha.key: '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI'
    recaptcha.secret: '6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe'

framework:
    translator:
        fallbacks: ["%locale%"]
        # load translations pulled from the backend in addition to normal translations files (backend overrides local)
        paths: ["%kernel.project_dir%/var/translations"]
    secret:          "%secret%"
    router:
        resource: "%kernel.project_dir%/app/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  session.handler.native_file
        save_path: ~ # use value from php.ini
    fragments:       ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    globals:
        apiBaseUrl: "%api.base_url%"
        googleMapsApiKey: '%googlemaps.api_key%'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    AppBundle\:
        resource: '../../src/AppBundle'
        exclude: '../../src/AppBundle/{Twig,Entity,Repository}'
    AppBundle\Controller\:
        resource: '../../src/AppBundle/Controller'
        public: true
