imports:
    - { resource: config.yml }

parameters:
    googlemaps.api_key: 'AIzaSyBZTTRwiE94s-iJ7OVJAdl-linxm4LMAJE' # usable only from '*.demo.loc/*'

framework:
    router:
        resource: "%kernel.project_dir%/app/config/routing_dev.yml"
        strict_requirements: true
    profiler: { only_exceptions: false }

web_profiler:
    toolbar: true
    intercept_redirects: false

monolog:
    handlers:
        main:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
            channels: ['!event']
        console:
            type:   console
            channels: ['!event', '!doctrine']

services:
    Leadz\GuzzleHttp\Stopwatch\StopwatchMiddleware:
        arguments:
            - '@debug.stopwatch'
    wizaplace.http.log.formatter:
        class: GuzzleHttp\MessageFormatter
        arguments:
            - "Wizaplace API call: \"{method} {target}\" code:{code} error:\"{error}\""
    wizaplace.http.log:
        factory: 'GuzzleHttp\Middleware::log'
        class: 'callable'
        arguments:
            - '@logger'
            - '@wizaplace.http.log.formatter'
    wizaplace.guzzle.decorating_handler:
        factory: 'GuzzleHttp\HandlerStack::create'
        class: 'GuzzleHttp\HandlerStack'
        decorates: 'wizaplace.guzzle.handler'
        arguments: ['@wizaplace.guzzle.decorating_handler.inner']
        calls:
            - ['push', ['@wizaplace.http.log']]
            - ['push', ['@Leadz\GuzzleHttp\Stopwatch\StopwatchMiddleware']]
