imports:
    - { resource: config.yml }

parameters:
    api.base_url: 'https://sandbox.wizaplace.com/api/v1/'
    googlemaps.api_key: 'AIzaSyC6pzFn22J8wZ9OMuYBButVwUKvmo5Jx1w' #@TODO: change me
    wizaplace.system_user_password: '%env(WIZAPLACE_SYSTEM_USER_PASSWORD)%'

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
        console:
            type:  console
