fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"

home:
    path: /
    defaults: { _controller: AppBundle:Home:home }
    methods: [GET]

# Search
search:
    path: /recherche
    defaults: { _controller: AppBundle:Search:search }
    methods: [GET]

attribute_variant:
    path: /a/{slug}
    defaults: { _controller: AppBundle:Attribute:viewVariant }
    methods: [GET]

# Auth
login: # see security.yml
    path: /login
    methods: [POST]

login_form:
    path: /login
    defaults: { _controller: AppBundle:Auth:login }
    methods: [GET]

logout: # see security.yml
    path: /logout
    methods: [GET]

reset_password:
    path: /password
    defaults: { _controller: AppBundle:Auth:resetPassword }
    methods: [POST]

register_user:
    path: /inscription-utilisateur
    defaults: { _controller: AppBundle:Auth:registerUser }
    methods: [POST]

register_vendor:
    path: /inscription-vendeur
    defaults: { _controller: AppBundle:Auth:registerCompany}
    methods: [GET, POST]

# Profile
profile:
    path: /profil
    defaults: { _controller: AppBundle:Profile:view }
    methods: [GET]

update_user:
    path: /update-user
    defaults: { _controller: AppBundle:Profile:updateProfile }
    methods: [POST]

profile_addresses:
    path: /profil/adresses
    defaults: { _controller: AppBundle:Profile:addresses }
    methods: [GET]

profile_orders:
    path: /profil/commandes
    defaults: { _controller: AppBundle:Profile:orders }
    methods: [GET]

profile_returns:
    path: /profil/retours
    defaults: { _controller: AppBundle:Profile:returns }
    methods: [GET]

profile_return:
    path: /profil/retour/{orderReturnId}
    defaults: { _controller: AppBundle:Profile:return }
    methods: [GET]

profile_create_return:
    path: /profil/retour/creation
    defaults: { _controller: AppBundle:Profile:createOrderReturn }
    methods: [GET, POST]

profile_after_sale_service:
    path: /profil/sav
    defaults: { _controller: AppBundle:Profile:afterSalesService }
    methods: [GET, POST]

profile_favorites:
    path: /profil/favoris
    defaults: { _controller: AppBundle:Profile:favorites }
    methods: [GET]

profile_discussions:
    path: /profil/messagerie
    defaults: { _controller: AppBundle:Profile:discussions }
    methods: [GET]

profile_discussion_create:
    path: /profil/messagerie/nouvelle-discussion
    defaults: { _controller: AppBundle:Discussion:create }
    methods: [POST]

profile_discussion:
    path: /profil/messagerie/discussion/{id}
    defaults: { _controller: AppBundle:Profile:discussion }
    methods: [GET]
    requirements:
        id: \d+

profile_message_create:
    path: /profil/messagerie/nouveau-message
    defaults: { _controller: AppBundle:Discussion:createMessage}
    methods: [POST]

# newsletter
newsletter_subscribe:
    path: /newsletter/subscribe
    defaults: { _controller: AppBundle:Newsletter:subscribe }
    methods: [POST]

# basket
basket:
    path: /panier
    defaults: { _controller: AppBundle:Basket:basket }
    methods: [GET]

basket_add_product:
    path: /basket/add
    defaults: { _controller: AppBundle:Basket:addProduct }
    methods: [POST]

basket_update_product_quantity:
    path: /basket/update
    defaults: { _controller: AppBundle:Basket:updateProductQuantity }
    methods: [POST]

basket_update_shipping:
    path: /basket/update/shipping
    defaults: { _controller: AppBundle:Basket:selectShippings }
    methods: [POST]

basket_remove_product:
    path: /basket/remove
    defaults: { _controller: AppBundle:Basket:removeProduct }
    methods: [GET]

#checkout
checkout_login:
    path: /commande/connexion
    defaults: { _controller: AppBundle:Checkout:login }
    methods: [GET]

checkout_addresses:
    path: /commande/adresses
    defaults: { _controller: AppBundle:Checkout:addresses }
    methods: [GET]

checkout_payment:
    path: /commande/paiement
    defaults: { _controller: AppBundle:Checkout:payment }
    methods: [GET]

checkout_submit_payment:
    path: /commande/paiement
    defaults: { _controller: AppBundle:Checkout:submitPayment }
    methods: [POST]

checkout_complete:
    path: /commande/confirmation
    defaults: { _controller: AppBundle:Checkout:complete }
    methods: [GET]

# product
product:
    path: /p/{categoryPath}/{slug}
    defaults: { _controller: AppBundle:Product:view }
    requirements:
        categoryPath: "(%slug.regexp%/)*%slug.regexp%"
        slug: "%slug.regexp%"
    options:
        expose: true

# panier (Create, Update, Delete)
clean_basket:
    path: /basket/clean
    defaults: { _controller: AppBundle:Basket:cleanBasket }
    methods: [POST]

basket_add_coupon:
    path: /basket/add_coupon
    defaults: { _controller: AppBundle:Basket:addCoupon }
    methods: [POST]
basket_remove_coupon:
    path: /basket/remove_coupon
    defaults: { _controller: AppBundle:Basket:removeCoupon }
    methods: [POST]

# orders
order_all:
    path: /commandes
    defaults: { _controller: AppBundle:Order:viewOrders }
    methods: [GET]

order:
    path: /commande/{orderId}
    defaults: { _controller: AppBundle:Order:viewOrder }
    methods: [GET]

create_return:
    path: /commande/{orderId}/retour
    defaults: { _controller: AppBundle:Order:createReturn }
    methods: [POST]

create_return_form:
    path: /commande/{orderId}/retour
    defaults: { _controller: AppBundle:Order:displayCreateReturn }
    methods: [GET]

category:
    path: /c/{slug}
    defaults: { _controller: AppBundle:Category:view }
    methods: [GET]
    requirements:
        slug: "%slug.regexp%"

company:
    path: /v/{slug}
    defaults: { _controller: AppBundle:Company:view }
    methods: [GET]
    requirements:
        slug: "%slug.regexp%"

cms_page:
    path: /{slug}
    defaults: { _controller: AppBundle:Cms:Page }
    methods: [GET]
    requirements:
        slug: "%slug.regexp%"

# reviews
create_product_review:
    path: /product/add_review
    defaults: { _controller: AppBundle:Product:review }
    methods: [POST]

create_company_review:
    path: /company/add_review
    defaults: { _controller: AppBundle:Company:review }
    methods: [POST]

#favorites
add_to_favorites:
    path: /favorites/add
    defaults: { _controller: WizaplaceFrontBundle:Favorite:addToFavorite }
    methods: [POST]

remove_from_favorites:
    path: /favorites/remove
    defaults: { _controller: WizaplaceFrontBundle:Favorite:removeFromFavorite }
    methods: [POST]
