{# password reset (modal window) #}
{% include('common/_password-reset.html.twig') %}

{# display page wide overlay by adding class 'in' #}
<div id="overlay"></div>

{# notifications #}
<div class="notifications">
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                <span>{{ message }}</span>
                <i class="close-notification fa fa-close" data-dismiss="alert"></i>
            </div>
        {% endfor %}
    {% endfor %}
</div>
