<ol class="breadcrumb">
    <li><a href="{{ path("home") }}" class="technical-link">Accueil</a></li>
    {#{% for category in categoryPath %}
          <li><a href="/#" class="technical-link">{{category.name}}</a></li>
      {% endfor %}#}
</ol>
