{%  set footerMenu = menu('footer') %}
<footer>
    <div class="container text-center">
        <ul class="footer-items">
            {% if footerMenu is not null %}
                {% for menuItem in footerMenu.items %}
                    <li><a href="{{ menuItem.url }}" class="light-title">{{ menuItem.name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
        <p class="light-title text-grey">Copyright ® 1998 — 2017</p>
    </div>
</footer>
