{%  set menus = menus() %}
<footer>
    <div class="container text-center">
        {% for menu in menus %}
            {% if menu.items is not empty %}
            <nav>
                <h4>{{ menu.name }}</h4>
                <ul class="footer-items">
                    {% for menuItem in menu.items %}
                        <li><a href="{{ menuItem.url }}" class="light-title">{{ menuItem.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
        {% endfor %}
        <p class="light-title text-grey">Copyright ® 1998 — 2017</p>
    </div>
</footer>
