// this file's purpose is to provide (ultra) basic style rules for project setup
// it can be removed safely

// header
#masthead {
    .header-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5rem;
        border-bottom: 1px solid blue;
    }

    // basket show/hide behaviour on hover event
    .basket {
        position: relative;

        .basket-content {
            position: absolute;

            // basket is hidden by default
            display: none;
        }

        &:hover {
            .basket-content {
                display: block;
            }
        }
    }

    .searchbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5rem;
        border-bottom: 1px solid blue;
    }

    .categories {
        margin-bottom: 5rem;
        border-bottom: 1px solid blue;

        .category {
            margin: 1rem;
        }
    }
}

// footer
footer {
    form {
        margin: 4rem 0;
        padding: 4rem 0;
        border-top: 1px solid blue;
        border-bottom: 1px solid blue;
    }

    .menus {
        display: flex;
    }
}

// product page
#product-page {
    h1 {
        padding-top: 4rem;
    }

    .js-slick-declination-images, img {
        display: block;
        margin: 2rem 0;
    }

    ul {
        padding: 4rem 0;
        margin-bottom: 5rem;
        border-bottom: 1px solid blue;
    }

    .slick-dots {
        position: absolute;
        bottom: -8rem;
        margin-top: 2rem;
        padding: 0;
        border-bottom: 0;
    }
}

// search page
#search-page {
    // set apart "number of results/page" from sort buttons
    button:nth-of-type(5) {
        margin-right: 10rem;
    }

    .search-block {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;

        .sidebar {
            width: 20%;

            .selected-category, .selected-category a {
                text-decoration: underline;
                color: red;
            }
        }

        .search-result {
            width: 75%;

            .products {
                display: flex;
                flex-wrap: wrap;

                .product {
                    margin: 2rem;

                    span:first-child {
                        display: block;
                    }

                    a img ~ div {
                        max-width: 200px;
                        max-height: 100px;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    article.product > span {
        font-weight: bold;
        color: white;
        background: darkslategray;
        display: block;
    }
}
