<div id="search-sidebar" class="light-title">
    <ul class="sidebar-items list-inline">
        <li class="sidebar-item">

            {# category filter label #}
            <div class="sidebar-item-label">
                <a data-toggle="collapse" href="#categories" aria-expanded="false" aria-controls="">
                    <span class="label">Par</span><br>

                    <div class="filter-name">
                        <span class="light-title">Catégorie</span>
                        <span class="glyphicon
                            {% if currentCategory|default %}
                                glyphicon-menu-down
                            {% else %}
                                glyphicon-menu-up
                            {% endif %}
                             ">
                        </span>
                    </div>
                </a>
            </div>

            {# category filters #}
            {% include('legacy/search/sidebar/categories.html.twig') %}
        </li>

        <li v-for="facet in facets" class="sidebar-item" v-if="facet.name != 'categories'">

            {# price slider #}
            <div v-if="facet.name == 'price'">
                <div class="sidebar-item-label">
                    <a data-toggle="collapse" :href="'#facet-'+facet.name" aria-expanded="false" aria-controls="">
                        <span class="label">Par</span><br/>

                        <div class="filter-name">
                            <span class="light-title">${ facet.label }</span>
                            <span class="glyphicon glyphicon-menu-up"></span>
                        </div>
                    </a>
                </div>

                <div :id="'facet-'+facet.name" class="collapse sidebar-item-content">
                    <a class="filter-value">
                        <keep-alive>
                            <slider :min="facet.values.min" :max="facet.values.max"
                                    v-on:update="updateNumericFilter(facet.name, arguments[0], arguments[1])">
                            </slider>
                        </keep-alive>
                    </a>
                </div>
            </div>

            {# other facets #}
            <div v-if="!facet.isNumeric && facet.values.length != 0">
                <div class="sidebar-item-label">
                    <a data-toggle="collapse" :href="'#facet-'+facet.name" aria-expanded="false" aria-controls="">
                        <span class="label">Par</span><br/>

                        <div class="filter-name">
                            <span class="light-title">${ facet.label }</span>
                            <span class="glyphicon glyphicon-menu-up"></span>
                        </div>
                    </a>
                </div>

                <div class="collapse sidebar-item-content">
                    <br />
                    <div class="subcategory-item"  v-for="(value, index) in facet.values">
                        <input type="radio" @click="toggleFilter(facet.name, index)">
                        <span>${value.label}</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
