services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    WizaplaceFrontBundle\:
        resource: '../../'
        exclude: '../../{Twig,Entity,Repository}'
    WizaplaceFrontBundle\Controller\:
        resource: '../../Controller'
        public: true
    WizaplaceFrontBundle\Service\ProductUrlGenerator:
        public: true
    WizaplaceFrontBundle\Command\PushTranslationsCommand:
        arguments:
            $translatorBag: '@translator.default'
            $locales: [ '%locale%' ]
            $defaultLocale: '%kernel.default_locale%'
            $systemUserPassword: '%wizaplace.system_user_password%'
        public: true
    WizaplaceFrontBundle\Command\PullTranslationsCommand:
        arguments:
            $locales: [ '%locale%' ]
            $translationsDir: "%kernel.project_dir%/var/translations"
        public: true
    WizaplaceFrontBundle\Service\AuthenticationService:
        public: true
    WizaplaceFrontBundle\Security\AuthenticationFailureHandler:
        parent: 'security.authentication.failure_handler'
        autowire: true
        autoconfigure: false
        public: true
    WizaplaceFrontBundle\Security\AuthenticationSuccessHandler:
        parent: 'security.authentication.success_handler'
        autowire: true
        autoconfigure: false
        public: true

    wizaplace.guzzle.handler:
        factory: 'GuzzleHttp\HandlerStack::create'
        class: 'GuzzleHttp\HandlerStack'
    wizaplace.http.client:
        class: GuzzleHttp\Client
        arguments:
            -
                base_uri: '%api.base_url%'
                handler: '@wizaplace.guzzle.handler'
    Wizaplace\SDK\ApiClient:
        arguments: ['@wizaplace.http.client']
        public: true
    Wizaplace\SDK\Catalog\CatalogService:
        public: true
    Wizaplace\SDK\Catalog\Review\ReviewService:
        public: true
    Wizaplace\SDK\Basket\BasketService:
        public: false
    Wizaplace\SDK\Cms\BannerService:
        public: true
    Wizaplace\SDK\User\UserService:
        public: true
    Wizaplace\SDK\Order\OrderService:
        public: true
    Wizaplace\SDK\Image\ImageService:
        public: true
    Wizaplace\SDK\Seo\SeoService:
        public: true
    Wizaplace\SDK\Cms\CmsService:
        public: true
    Wizaplace\SDK\Company\CompanyService:
        public: true
    Wizaplace\SDK\Discussion\DiscussionService:
        public: true
    Wizaplace\SDK\MailingList\MailingListService:
        public: true
    Wizaplace\SDK\Favorite\FavoriteService:
        public: true
    Wizaplace\SDK\Translation\TranslationService:
        public: true
    WizaplaceFrontBundle\Twig\AppExtension:
        arguments:
            $cache: '@cache.app'
            $recaptchaKey: '%recaptcha.key%'
