{% extends 'layout.html.twig' %}

{% block body %}
    {# steps breadcrumb #}
    {% include 'checkout/steps.html.twig' with {step: 4} %}

    <div class="order-confirmation">
        <p class="text-green">Commande transmise avec succès</p>
        <p>Vous recevrez un e-mail de confirmation dans quelques minutes</p>
        <a class="btn btn-primary" href="{{ path("profile_orders") }}">Voir le suivi de commande</a>
    </div>
{% endblock %}
