body {
    color: @color-dark;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin: 0;
    }
}

a {
    text-decoration: none;
    .anchor-dark();
}

.main-header {
    a {
        text-decoration: none;
        .anchor-light();
    }
}

.btn-primary {
    background-color: @tertiary-color;
    border-color: @border-color;

    &:hover {
        background-color: @button-color-hover-dark;
        border-color: @tertiary-color;
    }

    &:active, &:focus, &:active&:focus {
        background-color: @button-color-active-dark;
        border-color: @tertiary-color;
    }
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}

select {
    cursor: pointer;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: .75em;
}

// icons
// =====

.icon-checkbox:before {
    content: "\e900";
}
.icon-checkbox-checked:before {
    content: "\e901";
}
.icon-radio:before {
    content: "\e902";
}
.icon-radio-checked:before {
    content: "\e903";
}

// checkboxes and radio inputs
// ===========================

label {
    .input-label {
        cursor: pointer;

        // unchecked version
        &::before {
            font-family: @font-family-icon;
            padding-right: .5em;
            vertical-align: -13%; // optically better than 'middle'
            font-size: 1.5em;
            color: fade(@primary-color, 12%);
            content: @icon-checkbox;
            transition: all .3s ease;
        }
    }

    [type="checkbox"], [type="radio"] {

        // hide original checkable input
        position: absolute;
        left: 0;
        height: 1px;
        width: 1px;
        opacity: 0;

        // checked version
        &:checked {

            // change label and input color
            & ~ .input-label,
            & ~ .input-label:before {
                color: @tertiary-color;
            }

            // change input icon
            & ~ .input-label:before {
                content: @icon-checkbox-checked;
            }
        }
    }


}

// override Bootstrap defaults
// ===========================

.form-control {
    border-color: @border-color;
}

label {
    font-weight: normal;
}
