body {
    color: @color-dark;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin: 0;
    }
}

select {
    cursor: pointer;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// buttons and anchors
// ===================

a {
    text-decoration: none;
    .anchor("dark", true);
    .not-underlined();

    &.btn-default {
        .anchor("dark", false);
    }

    &.btn-primary {
        .anchor("light", false);
    }
}

.btn-primary {
    background-color: @tertiary-color;
    border-color: @border-color;

    &:hover {
        background-color: @button-color-hover-dark;
        border-color: @tertiary-color;
    }

    &:active, &:focus, &:active&:focus {
        background-color: @button-color-active-dark;
        border-color: @tertiary-color;
    }
}


// placeholders
// ============

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}


// icons
// =====

.icon-checkbox:before {
    content: @icon-checkbox;
}
.icon-checkbox-checked:before {
    content: @icon-checkbox-checked;
}
.icon-radio:before {
    content: @icon-radio-checked;
}
.icon-radio-checked:before {
    content: @icon-radio-checked;
}


// checkboxes and radio inputs
// ===========================

/**
 * Usage example:
 * <label class="checkbox">
 *     <input type="checkbox">
 *     <span class="input-label">I agree to check that box</span>
 * </label>
 */

// add this class to a checkbox enclosing label
.checkbox {
    .checkable(@icon-checkbox, @icon-checkbox-checked);
}

// add this class to a radio enclosing label
.radio {
    .checkable(@icon-radio, @icon-radio-checked);
}


// use mixins defaults in templates
// ================================

.has-left-icon {
    .has-left-icon();
}
.has-right-icon {
    .has-right-icon();
}

.anchor-dark {
    .anchor("dark", true);
}
.anchor-light {
    .anchor("light", true);
}
.anchor-neutral-dark {
    .anchor("dark", false);
}
.anchor-neutral-light {
    .anchor("light", false);
}

.faded-dark {
    color: @color-faded-dark;
}

.faded-light {
    color: @color-faded-light;
}


// override Bootstrap defaults
// ===========================

p {
    margin: 0;
}

.form-control {
    border-color: @border-color;
}

label {
    font-weight: normal;
}
