.popin {
    padding: 1em;

    background-color: @background-color-light;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .05);
}

.remove-border-radius {
    .remove-border-radius-left();
    .remove-border-radius-right();
}

.remove-border-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.remove-border-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.icon-left {
    .icon {
        margin-right: .5em;
    }
}

.icon-right {
    .icon {
        margin-left: .5em;
    }
}

.anchor-light {
    color: @anchor-color-light;

    &:hover {
        color: @anchor-color-hover-light;
    }

    &:visited {
        color: @anchor-color-light;

        &:hover {
            color: @anchor-color-hover-light;
        }
    }

    &:focus, &:active {
        color: @anchor-color-active-light;
    }
}

.anchor-dark {
    color: @anchor-color-dark;

    &:hover {
        color: @anchor-color-hover-dark;
    }

    &:visited {
        color: @anchor-color-visited-dark;

        &:hover {
            color: @anchor-color-hover-dark;
        }
    }

    &:focus, &:active {
        color: @anchor-color-active-dark;
    }
}
