<nav class="main-menu">
    <div class="container">
        <div class="main-menu-wrapper">

            {# Category menu #}
            {% include ('common/header/_category-menu.html.twig') %}

            {# Static links #}
            <ul class="static-links list-inline">

                <li class="static-link">
                    <a href="#">
                        <span>Nouveautés</span>
                        <i class="icon fa fa-tags"></i>
                    </a>
                </li>

                <li class="static-link">
                    <a href="https://www.wizaplace.com">
                        <span>Site externe</span>
                        <i class="icon fa fa-external-link"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
