{% set categories = categoryTree() %}

<div id="search-bar" class="search-bar">
    <div class="container">
        <div class="wrapper">

            <form action="{{ path('search') }}" method="get" class="search-bar-form" autocomplete="off">
                <input type="hidden" name="selected_category_id" v-model="selectedCategoryId">

                {# query #}
                <div class="query-input-group">

                    {# query text input #}
                    <input class="form-control" type="text" name="q" placeholder="Rechercher..." v-model="query" @keyup.esc="query = ''">

                    {# categoriy selector (display only root categories) #}
                    <select class="category-picker form-control" title="Sélectionnez une catégorie" @change="selectCategory()" v-model="selectedCategoryId">
                        <option class="default-option" value="" selected disabled>Toutes les catégories</option>

                        {% for category in categories %}
                            <option value="{{ category.category.id }}">{{ category.category.name }}</option>
                        {% endfor %}
                    </select>

                    {# submit button #}
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                        <span class="hidden-xs">Rechercher</span>
                    </button>
                </div>

                {# geolocation #}
                <div class="geo-input-group">

                    {# forward the geoloc to search page #}
                    <input type="hidden" name="geo[lat]" v-model="geoFilter.lat">
                    <input type="hidden" name="geo[lng]" v-model="geoFilter.lng">

                    {# city, department #}
                    <input type="text" name="geo[label]" v-model="geoFilter.label" class="form-control" placeholder="Ville, département...">

                    {# submit button #}
                    <button type="button" class="btn btn-primary" @click="geoLocateMe">
                        <i class="fa fa-map-marker"></i>
                        <span class="hidden-xs">Me localiser</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function() {
        let vm = new Vue({
            el: '#search-bar',

            data: {
                selectedCategoryId: '',

                query: '',

                geoFilter: {
                    label: '',
                    lat: '',
                    lng: ''
                }
            },

            methods: {
                selectCategory: function() {
                    let $selectedCategory = $(".category-picker option:selected");
                    this.selectedCategoryId = $selectedCategory.val();
                },

                geoLocateMe: function() {

                    if (navigator.geolocation) {

                        navigator.geolocation.getCurrentPosition(function(position) {
                            vm.geoFilter.lat = position.coords.latitude;
                            vm.geoFilter.lng = position.coords.longitude;
                        });

                    } else {
                        //TODO: display an error alert
                    }
                },
            },
        });
    });
</script>
