.search-bar {
    background-color: @secondary-color;

    .wrapper {
        padding: 2em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-bar-form {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: @screen-sm-max) {
                flex-direction: column;
            }

            .query-input-group {
                width: 65%;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: @screen-sm-max) {
                    width: 100%;
                    margin-bottom: 1em;
                }

                .product-search-input-group {
                    position: relative;
                    flex: 1 0 30%;

                    @media screen and (max-width: @screen-sm-max) {
                        flex: 1 1 60%;
                    }

                    // auto-complete
                    .product-suggestions {
                        .popunder(.3s, 100%);
                        cursor: pointer;

                        .suggestion {
                            &:not(:first-of-type) {
                                border-top: 1px solid @border-color;
                            }

                            display: block;
                            font-size: 1em;
                            padding: .5em .25em;

                            @media screen and (max-width: @screen-sm-max) {
                                font-size: 1.2em;
                            }

                            &:hover, &:focus {
                                background-color: fade(@tertiary-color, 10%);
                                color: @color-hover-dark;
                                outline: 0;
                            }
                        }
                    }

                    // query input
                    [name="q"] {
                        // form-group: remove unneeded border radius
                        .remove-border-radius-right();

                        @media screen and (max-width: @screen-sm-max) {
                            border-right: 0;
                        }
                    }
                }

                .category-picker {
                    flex: 1 1 30%;

                    // form-group: remove unneeded border radius and borders
                    .remove-border-radius();
                    border-left: 0;
                    border-right: 0;

                    @media screen and (max-width: @screen-sm-max) {
                        flex: 1 1 auto;
                    }

                    @media screen and (max-width: @screen-xs-max) {
                        display: none;
                    }
                }

                .btn {
                    flex: 1 1 auto;
                    min-width: 20%;

                    // form-group: remove unneeded border radius
                    .remove-border-radius-left();

                    // add some space between text and icon
                    .has-left-icon();
                }
            }

            .geo-input-group {
                width: 30%; // leave 5% of space between query and geoloc
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: @screen-sm-max) {
                    width: 100%;
                }

                [name="geo[label]"] {
                    flex: 1 1 auto;

                    // form-group: remove unneeded border radius and border
                    .remove-border-radius-right();
                    border-right: 0;
                }

                .btn {
                    flex: 1 0 auto;
                    min-width: 20%;

                    // form-group: remove unneeded border radius
                    .remove-border-radius-left();

                    // add some space between text and icon
                    .has-left-icon();
                }
            }

            // global
            [class*="-input-group"] {
                @media screen and (max-width: @screen-xs-max) {

                    [type="text"] {
                        font-size: 1.8em;
                        height: auto;
                    }

                    .btn {
                        font-size: 1.8em;

                        i {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
