.search-bar {
    background-color: @color-secondary;

    .wrapper {
        padding: 2em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        form {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            @media screen and (max-width: @screen-sm-max) {
                flex-direction: column;
            }

            .group {
                background: lighten(@color-secondary, 12%);
                border-radius: @radius;
                padding: .75em;
                margin-right: .75em;
                display: flex;
                align-items: center;

                @media screen and (max-width: @screen-sm-max) {
                    width: 100%;

                    .form-control {
                        height: 45px;
                    }
                }
            }

            // auto-complete
            .product-suggestions {
                .popunder(.3s, 100%);
                cursor: pointer;

                .suggestion {
                    &:not(:first-of-type) {
                        border-top: 1px solid @border-color;
                    }

                    display: block;
                    font-size: 1em;
                    padding: .5em .25em;

                    @media screen and (max-width: @screen-sm-max) {
                        font-size: 1.2em;
                    }

                    &:hover, &:focus {
                        background-color: fade(@color-tertiary, 10%);
                        color: @color-hover-dark;
                        outline: 0;
                    }
                }
            }

            // keyword and category query group
            .group:first-of-type {
                position: relative; // suggestions will fit inside this element width

                & > * {
                    width: 50%;
                }

                [name="q"] {
                    .remove-border-radius-right();
                    border-right: 0;
                }

                .category-picker {
                    .remove-border-radius-left();
                }

                // remove radius on smaller screens
                @media screen and (max-width: @screen-md-max) {
                    .remove-border-radius-bottom();
                }
            }

            // geolocalization group
            .group:last-of-type {
                flex: 1 0 auto;

                em {
                    margin: 0 1em;
                }

                .btn {
                    @media screen and (max-width: @screen-sm-max) {
                        padding: .25em .75em;
                    }
                }

                // remove radius on smaller screens and push away submit button
                @media screen and (max-width: @screen-sm-max) {
                    .remove-border-radius-top();
                    margin-bottom: 1em;
                }
            }

            .btn {
                @media screen and (max-width: @screen-md-max) {
                    font-size: 1.1em;
                }

                @media screen and (max-width: @screen-sm-max) {
                    font-size: 1.3em;
                }

                @media screen and (max-width: @screen-xs-max) {
                    font-size: 1.4em;
                }

                @media screen and (max-width: @screen-xxs-max) {
                    font-size: 1.7em;
                }
            }
        }
    }
}
