.search-bar {
    background-color: @color-secondary;

    .wrapper {
        padding: 2em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        form {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            @media screen and (max-width: @screen-md-max) {
                flex-direction: column;
            }

            .group {
                background: lighten(@color-secondary, 12%);
                border-radius: @radius;
                padding: .75em;
                margin-right: .75em;
                display: flex;
                align-items: center;

                @media screen and (max-width: @screen-md-max) {
                    width: 100%;

                    .form-control {
                        height: 45px;
                    }
                }
            }

            // auto-complete
            .product-suggestions {
                .popunder(.3s, 100%);
                cursor: pointer;

                .suggestion {
                    .popin-list-item();
                }
            }

            // keyword and category query group
            .group:first-of-type {
                position: relative;
                flex-basis: 50%; // of the container width

                .category-picker {
                    color: darken(saturate(@color-primary, 5%), 12%);
                    cursor: pointer;
                    .remove-border-radius-right();
                    background: @color-secondary;
                    flex: 0 1 auto;
                    max-width: 164px; // just enough for default category name
                    user-select: none;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .picker-icon {
                        font-size: 2em;
                        color: @color-light;
                        text-shadow: 1px 1px 1px rgba(0,0,0,.3); // subtle pop

                        @media screen and (min-width: @screen-md-min) {
                            display: none;
                        }
                    }

                    .picker-label, .picker-arrow {
                        @media screen and (max-width: @screen-sm-max) {
                            display: none;
                        }
                    }

                    .picker-label {
                        white-space:nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &:hover {
                        background: darken(saturate(@color-secondary, 5%), 12%);
                    }

                    .categories {
                        display: none; // starts off hidden

                        .popunder();
                        cursor: pointer;

                        .category {
                            .popin-list-item();
                            color: @color-dark;
                            padding: .25em;
                        }
                    }

                    &.is-active {
                        background: darken(saturate(@color-secondary, 5%), 12%);

                        .picker-icon {
                            color: darken(@color-primary, 10%);
                            text-shadow: none;
                        }

                        .categories {
                            display: block;
                            top: 3em;
                            left: .75em;

                            @media screen and (max-width: @screen-md-max) {
                                top: 4em;
                            }
                        }
                    }

                    @media screen and (max-width: @screen-sm-max) {
                        flex-basis: 0;
                        background: darken(saturate(@color-secondary, 5%), 12%);

                        &:hover, &:focus, &:active {
                            .picker-icon {
                                color: darken(@color-primary, 10%);
                                text-shadow: none;
                            }
                        }
                    }
                }

                .keyword-input {
                    position: relative; // suggestions will fit inside this element width
                    flex: 1 0 70%;

                    [name="q"] {
                        .remove-border-radius-left();
                        border-left: 0;
                    }

                    @media screen and (max-width: @screen-md-max) {
                        flex-basis: 80%;
                    }
                }

                // remove radius on smaller screens
                @media screen and (max-width: @screen-md-max) {
                    .remove-border-radius-bottom();
                }
            }

            // geolocalization group
            .group:last-of-type {
                flex: 1 0 auto;

                em {
                    margin: 0 1em;
                }

                .btn {
                    @media screen and (max-width: @screen-md-max) {
                        padding: .25em .75em;
                    }
                }

                // remove radius on smaller screens and push away submit button
                @media screen and (max-width: @screen-md-max) {
                    .remove-border-radius-top();
                    margin-bottom: 1em;
                }
            }

            .btn {
                flex: 1 1 auto;

                @media screen and (max-width: @screen-md-max) {
                    font-size: 1.3em;
                }

                @media screen and (max-width: @screen-xs-max) {
                    font-size: 1.4em;
                }

                @media screen and (max-width: @screen-xxs-max) {
                    font-size: 1.7em;
                }
            }
        }
    }
}
