#cookie-consent {
    .cc-window {
        color: #ccc;
        background: #333;

        .cc-link {
            color: #ccc;
        }

        .cc-btn {
            border: none;
        }

        .cc-compliance {
            background: #ccc;
        }
    }
}
