#cookie-consent {
    .cc-window {
        color: lightgray;
        background: darkgray;

        .cc-link {
            color: lightgray;
        }

        .cc-btn {
            border: none;
        }

        .cc-compliance {
            background: lightgray;
        }
    }
}
