{% extends 'layout.html.twig' %}

{% block body %}
    {# include('partials/breadcrumb.html.twig') #}

    <div class="container-fluid" id="search" v-cloak>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="label" >&nbsp;<span v-if="pagination.nbResults">${pagination.nbResults+' Résultats'}</span></div>
                <div class="big-title"></div>
                {% if currentCategory|default %}
                    <p>dans {{ currentCategory.name }}</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-9">
                <div class="btn-group btn-group-lg" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" @click="setSort(null, null)">Pertinence</button>
                    <button type="button" class="btn btn-default" @click="setSort('name', 'asc')">Nom A-Z</button>
                    <button type="button" class="btn btn-default" @click="setSort('name', 'desc')">Nom Z-A</button>
                    <button type="button" class="btn btn-default" @click="setSort('price', 'asc')">Prix - à +</button>
                    <button type="button" class="btn btn-default" @click="setSort('price', 'desc')">Prix + à -</button>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="btn-group btn-group-lg pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-default active" @click="changeResultsNumber(12)">12</button>
                    <button type="button" class="btn btn-default" @click="changeResultsNumber(24)">24</button>
                    <button type="button" class="btn btn-default" @click="changeResultsNumber(48)">48</button>
                </div>
            </div>
        </div>

        <div class="row">

            {# sidebar #}
            <div class="col-md-2">
                {% include 'legacy/search/sidebar/sidebar.html.twig' %}
            </div>

            {# search result #}
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product" v-for="product in products">
                            {# promo badge #}
                            <div class="top-badge badge-promo" v-if="product.crossedOutPrice !== null">PROMO</div>

                            <a class="product-detail" :href="'/p-'+product.productId+'-'+product.name">
                                <div class="product-image" :style="imageStyle(product)"></div>
                                <div class="product-caption">
                                    <div class="title ellipsis">${product.name}</div>
                                    <div class="ellipsis">${ product.subtitle }</div>
                                </div>
                            </a>

                            <div class="product-price">
                                <div class="pull-left">
                                    <span v-if="product.crossedOutPrice !== null" class="title">${product.minimumPrice|price}&nbsp;TTC</span><br />
                                    <span v-if="product.crossedOutPrice !== null" class="title text-blue text-line-through">${product.crossedOutPrice|price}&nbsp;TTC</span>
                                    <span v-else class="title">${product.minimumPrice|price}&nbsp;TTC</span><br />
                                </div>
                                <button class="add-to-basket btn btn-link pull-right" @click="submitBasket(product.productId)" title="Ajouter au panier">
                                    <span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {# pagination #}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav v-if="pagination.nbPages > 1">

                            <ul class="pagination-block list-inline">
                                {# go to previous page #}
                                <li :class="{disabled: pagination.page == 1}">
                                    <a href="#" @click.prevent="goToPage(pagination.page - 1)">
                                        <span class="glyphicon glyphicon-arrow-left"></span>
                                    </a>
                                </li>

                                {# 3 templates previous to current page #}
                                <li v-for="i in range(pagination.page -3, pagination.page)" v-if="i > 0">
                                    <a href="#" @click.prevent="goToPage(i)" class="page-number">${i}</a>
                                </li>

                                {# current page #}
                                <li class="active">
                                    <a href="#" @click.prevent="goToPage(pagination.page)">
                                        ${pagination.page}
                                    </a>
                                </li>

                                {# 3 templates next to current page #}
                                <li v-for="i in range(pagination.page + 1, pagination.page + 4)" v-if="i < pagination.nbPages + 1">
                                    <a href="#" @click.prevent="goToPage(i)" class="page-number">${i}</a>
                                </li>

                                {# go to next page #}
                                <li :class="{disabled: pagination.page == pagination.nbPages}">
                                    <a href="#" @click.prevent="goToPage(pagination.page + 1)">
                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'legacy/common/basket-popup.html.twig' %}

    {# price slider template #}
    <template id="slider-template">
        <div class="clearfix">
            <div id="facet-slider"></div>
            <span class="facet-range-min" v-text="currentMin + ' €'"></span>
            <span class="facet-range-max" v-text="currentMax + ' €'"></span>
        </div>
    </template>

{% endblock %}


