<div class="container product-showcase">
    <h1>{{headerTitle}}</h1>
    <div class="row">
        <div class="col-sm-12 col-md-12 product-container">
            {% for product in products %}
                {% include 'common/product/card.html.twig' with {"product" : product } %}
            {% endfor %}
        </div>
            <div class="col-md-12 arrows">
                <a class="btn btn-default pull-left products-prev"><span class="glyphicon glyphicon-chevron-left"> </span></a>
                <a class="btn btn-default pull-right products-next"><span class="glyphicon glyphicon-chevron-right"> </span></a>
            </div>
    </div>
</div>
