{% extends 'search/search.html.twig' %}
{#
        You have access to :
            selectedVariant.id
            selectedVariant.name
            selectedVariant.slug
            selectedVariant.attributeId
            selectedVariant.image.id (if selectedVariant.image is set)

    #}
{% block pageContent %}
    <h1>{{ selectedVariant.name }}</h1>
    <img src="{{ selectedVariant.image|imageUrl }}">
{% endblock %}
