{% extends 'search/search.html.twig' %}

{% block pageContent %}
    <h1>{{ selectedVariant.name }}</h1>
    {% if selectedVariant.image %}
        <img src="{{ selectedVariant.image.id|imageUrl }}">
    {% else %}
        <img src="{{ asset('images/no-image.jpg') }}">
    {% endif %}
{% endblock %}
