[Unit]
Description=Chrome Headless

[Service]
Type=simple
ExecStart=/usr/bin/google-chrome --disable-gpu --headless --remote-debugging-address=0.0.0.0 --remote-debugging-port=9222
Restart=always

[Install]
WantedBy=multi-user.target
